* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.mainContainer {
  width: 414px;
  height: 958px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.navbar {
  min-height: 96px;
  max-height: 96px;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 16px;
}

.image {
  width: 100%;
  min-height: 276px;
  max-height: 276px;
  background-color: gray;
  margin-bottom: 8px;
}

.headLine {
  padding: 16px;
  padding-bottom: 0;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
}

.caption {
  margin: 0 16px 16px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #949494;
}

.content {
  padding: 0 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
